.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../../images/landscape.jpg");
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-content {
  text-align: center;
  color: white;
}
.banner-content h1 {
  text-transform: uppercase;
  font-weight: bolder;
}
.banner-content h2 {
  font-weight: lighter;
}

