.btn-twitter {
  background-color: #ff1f5a;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
}
.btn-twitter:hover {
  opacity: 0.8;
}

.btn-medium {
  color: rgb(180,180,180);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid rgb(200,200,200);
  padding: 10px 15px;
  text-decoration: none;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
}

