.message {
  background-color: white;
  display: flex;
  align-items: end;
  padding: 10px;
}
.message p {
  margin: 0;
}
.message-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.message-name, .message-body, .message-status {
  padding-left: 15px;
}
#name {
  font-weight: bolder;
}
#status {
  color: #12e2a3;
  font-weight: bolder;
}
.message-body {
  width: 50%;
  flex-grow: 1;
}
